@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container-base-page {
    height: 100vh;
    width: 100vw; 
    background-image: url('../../assets/img/backgroundBasePage.svg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 

    display: flex;
}

.c-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.c-title {
    position: absolute;
    left: 70px;
    top: 50px;
    width: 350px;
    height: 80px;
    background-image: url('../../assets/img/backgroundTitle.svg');
    display: grid;

}

.c-Img {
    position: absolute;
    right: 70px;
    top: 40px;
    width: 100px;
    height: 100px;

    background-image: url('../../assets/img/LogoVotaai.svg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: 1;
}


.line {
    width: 100%;
    height: 7px;
    background-color: white;
}

.title-space {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

