body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.div-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    display: grid;
    place-items: center;
    height: 100vh;
    min-width: 800px;
    margin: auto;
    position: relative;
    z-index: 1;
}


.create-poll-form {
    display: block;
    align-items: center;
    padding: 20px;
    margin: 2px auto;
    border-radius: 8px;
    max-width: 450px;
    max-height: 580px;
    overflow-y: scroll;
}

.create-poll-form label {
    margin-bottom: 10px;
    font-weight: bold;
}


.create-poll-form input[type="text"],
.create-poll-form input[type="datetime-local"],
.create-poll-form input[type="number"],
.create-poll-form textarea,
.create-poll-form select {
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.adicionar-remover-pag{
    display: flex;
    justify-content: right;
    font-size: 5px;
}

.button-carosel{
    display: flex;
    justify-content: center;
    
}

.buttom-add-remove-options{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: auto;
}

.buttom-add-remove-options button.adicionar,
.buttom-add-remove-options button.remover
 {
    text-align: center;
    background-color: #00c760;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
    padding: 2%;
    font-size: 12px;
    width: 90px; 
    height: 35px; 
    border: 1px solid #ccc;
    border-radius: 6px;
}

.buttom-add-remove-options button:hover {
    background-color: rgb(1, 142, 71);
}

.buttom-add-remove-options button.postar:hover {
    background-color: rgb(4, 28, 207);
}