body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.div-main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-content {
    display: grid;
    place-items: center;
    height: 112vh;
    min-width: 800px;
    margin: auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
}


.create-poll-form {
    align-items: center;
    padding: 20px;
    margin: 2px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    max-height: 900px;
}

.create-poll-form label {  
    margin-bottom: 10px;
    font-weight: bold;
}

.create-poll-form input[type="text"],
.create-poll-form input[type="datetime-local"],
.create-poll-form textarea {
    align-items: center;
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-poll-form input[type="checkbox"] {
    margin-right: 10px;
}


.checkbox-section {
    display: grid;
    flex-direction: column;
    text-align: center;
}



