#start{
    background: linear-gradient(300deg, #2eba82 0%, #1a956f 100%);
}
#our-services{
    background: linear-gradient(180deg, #ffffff 0%, #f3f3f3 100%);
}
#popular-polls {
    background: linear-gradient(300deg, #2eba82 0%, #1a956f 100%);
}

.illustration-img{
    width: 75%;

}

.logo-img{
    width: 7.5rem;
    padding-bottom: 2rem;

}

.title-text-green{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    color: #2eba82;
    text-align: center;
}

.title-text-white{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    color: #f0f3f1;
    text-align: center;
}