.footer {
    background-color: #04345c;
    color:  rgb(173, 173, 173);
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    
    
  }
  
  .links {
    display: flex;
    justify-content: center;
    padding-top: 20px; /* Espaço acima */
    padding-bottom: 10px; /* Espaço abaixo */
    border-bottom: 2px solid #ffff;

  }

  .link-item {
    color: rgb(173, 173, 173);
    font-size: 23px;
    text-decoration: none;
    margin-right: 30px; /* Espaço à direita */
    margin-bottom: 10px; /* Espaço abaixo */

  }

  .link-item:hover {
    color: aliceblue;
  }

  #hivesoft {
    
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }