.profile-data-profile-screen{
    width: 75%;
    display: flex;
    align-items: flex-start;
    margin-top: 20%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
   
}

.profile-data-secondary-profile-screen{
    width: 75%;
    display: flex;
    align-items: flex-start;
    margin-top: 25%;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
}


.profile-input-profile-screen {
    width: 75%;
    height: 25%;
    background-color: #EBE5FC;
    color: #8E8787;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.input-group-2-profile-screen {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 20px;
}

.input-group-secondary-2-profile-screen {
    display: flex;
    flex-direction: column;
    width: 17%;
    margin-left: 32px;
    margin-right: 15px;
    margin-top: -18px;
    font-family: 'Nunito', sans-serif;
}

.input-group-2-profile-screen label {
    margin-bottom: 5px;
    font-size: 12px;
    color: #EBE5FC;
    margin-left: 50px; 
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    
}

.input-group-secondary-2-profile-screen label {
    width: 50px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #EBE5FC;
    margin-left: 20px; 
    margin-right: 10px;
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    font-weight: 800;
    
    
}
.button-profile-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 5%;
    margin-left: 31%;
    margin-right: 1%;
}

.button-2-profile-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: auto;
}