
html,
body {
    margin: 0;
    padding: 0;
}

.main {
    height: auto;
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    position: relative;

    /*display: 'flex';
    flex-direction: 'column';
    justify-content: 'space-between';
    width: 100%;
    height:100vh; 
    margin:0; 
    overflow-y:auto;*/
    background-image: url('./background.svg' );
}

.navbar {
    position: relative;
  
* {
    position: absolute;
    width: 100%;
    z-index: 100;
}

/*.main {
    display: grid;
    grid-template-rows: 1fr 0px;
    width: 100%;
    height:790px; 
    margin:0; 
    overflow-y:auto;
}*/

/*.navbar {
    position: absolute;
    width: 100%;
}*/

.subnavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
    height: 75px;
    background-color: #E5F9EA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #135b4b;
    /*
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    height: 75px;
    */
}

.subnavbar button {
    width: 33.33%;
    height: 100%;
    background-color: #E5F9EA;
    color: #074D57;
    border: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    outline: none;
    
    /*
    height: 100%;
    width: 33.33%;
    background-color: #E5F9EA;
    color:#074D57;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border:0px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;*/
}

.opcoesFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    width: 480px;
    height: 100%;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom: 2px solid;
    border-bottom-color: #135b4b;
    border-left: 2px solid;
    border-left-color: #135b4b;
    border-right: 2px solid;
    border-right-color: #135b4b;
}
  


.button1 {
    border-bottom-left-radius: 20px;
    /*border-bottom-right-radius:0px*/
}
.button2 {
    border-left: 2px solid #074D57;
    border-right: 2px solid #074D57;
    /*
    border-radius:0px;
    border:2px solid;
    border-left-color:#074D57;
    border-right:2px solid;
    border-right-color:#074D57*/
}
.button3 {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius:20px;
}

.subnavbar button.active {
    background-color: #06706b; /* cor de fundo quando clicado */
    color:white; /* cor do texto quando clicado */
}

.resultado {
    display: flex;
    max-height: 726px; 
    width:1300px;
    padding:0px;
    overflow-y:auto;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 16%;
    position: absolute;
    /*display: flex;*/
    left: 49%;
    top:190px;
    transform: translateX(-50%);
    /*max-height: 531.06px;*/ 
    /*width:1100px; /* (1300/1920)*1488 */
    /*padding:0px;*/
    /*overflow-y:auto;*/
}

.fileira {
    height: 100%;
    width:100%;
    padding:0%;
    padding-left: 7%;
    margin: 0%;
    justify-content:start;
    align-items:start;
    /* border: 1px solid;
    border-color: purple; */
}

.colunas {
    width:231.75px;
    max-height:100px;
    overflow: hidden;
    justify-content:end;
    align-items:end;
    padding:0%;
    display: table;
}

.main::-webkit-scrollbar {
    display: none;
}

.resultado::-webkit-scrollbar {
    border: 0.5px solid;
    border-color: #135546;
    border-radius: 10px;
    margin: 0%;
}

.resultado::-webkit-scrollbar-thumb {
    background-color: #135546; /* cor de fundo da thumb */
    border-radius: 8px; /* arredondamento da borda */
    background-color: #135546;
    border-radius: 8px;
    opacity: 0.1%;
}

img {
    position: fixed;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -5;
}

.footer {
    margin-top:auto; 
    z-index: 1000;
    width: 100%;
    position: absolute;
    transform: translateX(-50%);
    left:50%;
    height: 170px;
}
}