@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-homePage {
    display: grid;
    grid-template-rows: 1fr 0px;
    height: 1370px;
}

.container-content-homePage {
    position: relative;
    width: 100%;
    height: auto;
}

.container-content-homePage>img {
    position: absolute;
    width: 100%;
    height: auto;

    z-index: -5;
}

.carousel-homePage {
    position: absolute;
    top: 350px;

    z-index: -1;
}

.cards-homePage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 90px;
    top: 955px;
}

.titles-homePage {
    position: absolute;
    top: 150px;
    left: 150px;
    color: white;
    font-family: 'Poppins', 'Sans-serif';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
