#about-page{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/backgroundInicioSobre.png);
 
}

/*Background = Imagem de <a href="https://br.freepik.com/vetores-gratis/fundo-hexagonal-gradiente_13900570.htm#query=background%20favo%20mel&position=18&from_view=keyword&track=ais_user&uuid=eef3682c-c981-4e82-bc8a-2be10cce631c">Freepik</a>*/

#contato{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-image: url(../../assets/img/backgroundEntreEmContato.png);
}
