@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



.customCard {
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 250px;
    top: 1345px;
    left: 129px;
    gap: 0px;
    opacity: 0px;

}

.iconContainer {
    position: relative;
    display: inline-block;
}

.background {
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon {
    color: #2EBB83;
    font-size: 40px !important;
    position: relative !important;
    margin-left: 10px !important;
    width: 30px;
    height: 30px;
}

.title {
    color: #2EBB83;
    font-family: Poppins !important;
    font-weight: bold !important;
}

.description {
    color: #B4B3B3;
    font-family: Roboto !important;
}