@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



.infoContent {
    width: 60%;
}

.infoContent h2 {
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    color: #2EBB83;
    font-size: 35px;
    height: 40px;
}

.infoContent p {
    line-height: 1.5;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    color: #7e7d7d;
    font-size: 22px;
}

.infoContent img {
    width: 30%;
    margin-bottom: 5%;
}